*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;/*barra scroll*/
    /*font-family: ;
    color: ;
    background-color: ;
    */
}

/*-- ♣ HEADER ♣ --*/

header{
    border: 1px black solid;
    background-color: pink; /*provisorio*/
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1{
    color: white; /*provisorio*/
}

.top-bar{
    justify-content: center;
    margin: 10px;
}

.top-button{
    padding: 2px 8px;
    margin: 5px;
    /*color: ;
    background-color: ;
    */
}

/*-- ♣ MAIN MEME-GENERATOR ♣ --*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-generator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(7, 7, 7); /*provisorio*/
    width: 610px;
    height: 610px;
}

.meme-text{
    padding:20px 40px;
    position: static;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    /*font-family: ;*/
    /*font-size: ;*/
    background-color:pink;
}




.download{
    background-color:#94ecc8;/*provisorio*/
    border: 0px;
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
}

#aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 260px;
    padding: 20px;
    border: solid black 1px;
    background-color: pink;
}
.title-aside{
    text-align: center;
    padding: 20px ;
}
.url{
    padding: 10px ;
}
.input-url{
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
}
.background{
    padding: 10px ;
}
.filters{
    padding: 10px ;
}
.button-bg{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 5px;
}
.color-bg{
    margin-right: 5px;
}
   
.filters-bar{
    display:flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    width: 100%;
    margin: 5px;
}
.button-reset{
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
    border: none;
}
/*----Aside text*/

.div-text,.div-fonts{
    margin-top: 5px;
    padding: 5px 0;
}
.top-text,.bottom-text,.select-fonts{
    width: 100%;
    padding: 5px;
}
.div-fontsize{
    display: flex;
    flex-direction: row;
    width: 100%;   
}
.fontsize{
    width: 50%;
    padding: 5px;
    margin-top: 5px;
}
.div-align{
    width: 50%;
}
.aling{
    padding: 6px;
    margin: 5px 0 0 5px ;
}
.div-color{
    display: flex;
    flex-direction: row;
    width: 100%;   
}
.text-color,.background-color{
    width: 50%;
    margin: 8px 0;
    /*border: solid 1px;*/
}
.text-color-input, .background-color-input{
   background-color: white;
}
.text-color-input .input-color{
    border:none;
}
.div-contour{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 10px;  
}
.none , .light, .dark{
    padding: 5px 12px;
    margin-top: 5px;
}
.div-padding, .div-line-height{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin-top: 8px;
    padding: 5px 0;
}
.input-padding, .select-line-height{
    padding: 5px;
}