*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;/*barra scroll*/
    /*font-family: ;
    color: ;
    background-color: ;
    */
}

/*-- ♣ HEADER ♣ --*/

header{
    border: 1px black solid;
   /* background-color: pink; */
    background-color: #eaffad;
    background-image: linear-gradient(68deg, #eaffad 3%, #ffc3e6 52%, #d8ffee 95%);
    width: 100%;
    padding: 10px;
    text-align: center;
}

h1{
    color: white; /*provisorio*/
}

.top-bar{
    justify-content: center;
    margin: 10px;
}

.top-button{
    padding: 2px 8px;
    margin: 5px;
}

/*-- ♣ MAIN MEME-GENERATOR ♣ --*/

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meme-generator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(7, 7, 7); /*provisorio*/
    width: 610px;
    height: 610px;
}

.meme-text{
    padding:20px 40px;
    position: static;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    text-transform: uppercase;
    /*font-family: ;*/
    /*font-size: ;*/
    background-color:pink;
}




.download{
    background-color:#94ecc8;/*provisorio*/
    border: 0px;
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
}

#aside {
    display: flex;
    /*flex-direction: column;*/
   /* justify-content: center;*/
    position: fixed;
    top: 0;
    right: 0;
    width: 260px;
    height: 100%;
    border: solid black 1px;
    background-color: #eaffad;
background-image: linear-gradient(68deg, #eaffad 3%, #ffc3e6 52%, #d8ffee 95%);

}
.title-aside{
    text-align: center;
    padding: 20px ;
    color:white;
}
.url{
    padding: 10px ;
}

h3 {
    color:white
}

.input-url{
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
}
.background{
    padding: 10px ;
}
.filters{
    padding: 10px ;
}
.button-bg{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 5px;
}
.color-bg{
    margin-right: 5px;
}
   
.filters-bar{
    display:flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    width: 100%;
    margin: 5px;
}
.button-reset{
    margin-top: 10px;
    padding: 7px;
    border-radius: 20px;
    border: none;
    
}

.top-button:hover {
    
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          

         
}

.top-button {background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)

}

.top-button {
    border-radius: 10px;
    color: white;
    margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            border:white;
}

.button-reset {
    border-radius: 10px;
    color: white;
    margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            border:white;
}

.button-reset{background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%)

}

.button-reset:hover{
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
}

